.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 120px;
    margin: 0 auto;
    .header__nav{
        display: flex;
        justify-content: space-between;
        width: 1376px;
        height: 72px;
        .header__nav-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 112px;
            height: 100%;
        }
        .header__nav-list{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            width: 864px;
            height: 100%;
            .header__nav-list-list{
                display: flex;
                list-style: none;
                color: #C8C7D8;
                gap: 40px;
            }
            .header__nav-list-btn{
                width: 141px;
                height: 48px;
                border: none;
                color: white;
                border-radius: 7.29px;
                background: var(--accent-brand, #6966FF);
            }
            .header__nav-list-menu{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 320px){
    .header{
        width: 320px;
        height: 80px;
        .header__nav{
            width: 100%;
            margin-top: 16px;
            margin-right: 24px;
            .header__nav-logo{
                width: 100%;
                .header__nav-logo-img{
                 width: 74px;
                 height: 43px;
                //  margin-right: 24px;   
                }
            }
            .header__nav-list{
                width: 100%;
                .header__nav-list-list{
                    display: none;
                }
                .header__nav-list-btn{
                    width: 68px;
                    height: 40px;
                }
                .header__nav-list-menu{
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin-right: 24px;
                }
            }
        }
    }
}